.header {
  padding-right: 10px;
}

.options-bar {
  padding: 2px;
}

.Sticky-fixed-header-container {
  position: sticky;
    top: 0;
    background-color: white;
    /* needs to change when implement dark mode, e.g. black with white text */
}
