.header {
  padding-right: 10px;
}
select:focus {
  background-color: lightblue;
  scale: 1.5;
}

.options-bar {
  padding: 2px;
}

.Sticky-fixed-header-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  
}
/* .Sticky-fixed-header-container-light {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  
}
.Sticky-fixed-header-container-dark {
  position: sticky;
  top: 0;
  background-color:black;
  z-index: 1;
  
} */
.ArticleOptionsNavbar-grid-container {
  position: sticky;
  top:5%;
  background-color: white;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  z-index: 3;
}

.ListItemArticles {
  border-style: double;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, Sans-serif;
  font-size: medium;
  padding: 0px;
  max-width: 100%;
  text-align: center;

  border-image: url(https://i.imgur.com/040pFDw.png) 20 / 20px round;
  list-style-type: none;
}
.ListItemInnerArticles {
  max-width: 85%;
  padding-left: 1rem;
}

.ListItemTopics {
  border-style: double;
  border: 1 px;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, Sans-serif;
  font-size: medium;
  padding: 0.1rem;
  margin: 0.1 rem auto;
  text-align: center;
  border-image: url(https://i.imgur.com/040pFDw.png) 20 / 20px round;
  list-style-type: none;
  max-width: 100%;
}
.ListItemInnerTopics {
  max-width: 85%;
  padding-left: 1rem;
}

.articleCard {
  border-style: double;
  border: 1 px;
  height: max-content;
}
.ArticleCardBodyText {
  margin: 2px;
}
h2 {
  margin: 2px;
}

img {
  height: auto;
  max-width: 100%;
}
body {
  margin: 3px;
}
ul {
  padding-inline-start: 0rem;
}
.article-button-container {
  position: sticky;
  top:0%;
  z-index: 5;
  background-color:white;
}

#add-new-comment-buttons-and-form-sticky-container{
  position: sticky;
  top:4%;
  z-index: 7;
  background-color:white;
  padding-bottom: 0.1rem;
}